body {
    min-height: 100vh;
    background-image: linear-gradient(
            to right bottom,
            rgba(darken($clr-primary-light, 20%), 0.2),
            rgba(darken($clr-primary-light, 60%), 0.2)
        ),
        url('../img/bcg-img.jpg');
    background-size: cover;
}
