html,
body {
    scrollbar-gutter: stable;
}

body {
    min-height: 100vh;
    font-display: swap;
    background-color: var(--clr-bcg-main);
    scroll-behavior: smooth;

    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        overflow: hidden;
        background: var(--clr-accent);
        border-radius: 4px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--clr-bcg-secondary);
        border-radius: 4px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: var(--clr-bcg-secondary);
    }

    scrollbar-gutter: stable;
}

:focus-visible {
    outline: 0.4rem solid var(--clr-bcg-secondary);
}

::selection {
    color: var(--clr-txt-primary);
    background-color: var(--clr-txt-secondary);
}
