$rubik-font-path: '../fonts/rubik';

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('#{$rubik-font-path}/RubikRegular.eot');
    src:
        url('#{$rubik-font-path}/RubikRegular.eot?#iefix')
            format('embedded-opentype'),
        url('#{$rubik-font-path}/RubikRegular.woff2') format('woff2'),
        url('#{$rubik-font-path}/RubikRegular.woff') format('woff'),
        url('#{$rubik-font-path}/RubikRegular.ttf') format('truetype'),
        url('#{$rubik-font-path}/RubikRegular.svg#RubikRegular') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('#{$rubik-font-path}/RubikMedium.eot');
    src:
        url('#{$rubik-font-path}/RubikMedium.eot?#iefix')
            format('embedded-opentype'),
        url('#{$rubik-font-path}/RubikMedium.woff2') format('woff2'),
        url('#{$rubik-font-path}/RubikMedium.woff') format('woff'),
        url('#{$rubik-font-path}/RubikMedium.ttf') format('truetype'),
        url('#{$rubik-font-path}/RubikMedium.svg#RubikMedium') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: url('#{$rubik-font-path}/RubikSemiBold.eot');
    src:
        url('#{$rubik-font-path}/RubikSemiBold.eot?#iefix')
            format('embedded-opentype'),
        url('#{$rubik-font-path}/RubikSemiBold.woff2') format('woff2'),
        url('#{$rubik-font-path}/RubikSemiBold.woff') format('woff'),
        url('#{$rubik-font-path}/RubikSemiBold.ttf') format('truetype'),
        url('#{$rubik-font-path}/RubikSemiBold.svg#RubikSemiBold') format('svg');
    font-display: swap;
}

// @font-face {
//     font-family: 'Rubik';
//     font-style: normal;
//     font-weight: 700;
//     src: url('#{$rubik-font-path}/RubikBold.eot');
//     src:
//         url('#{$rubik-font-path}/RubikBold.eot?#iefix') format('embedded-opentype'),
//         url('#{$rubik-font-path}/RubikBold.woff2') format('woff2'),
//         url('#{$rubik-font-path}/RubikBold.woff') format('woff'),
//         url('#{$rubik-font-path}/RubikBold.ttf') format('truetype'),
//         url('#{$rubik-font-path}/RubikBold.svg#RubikBold') format('svg');
//     font-display: swap;
// }
