@use '../abstracts' as *;

:root {
    --white: #{$c-white};
    --black: #{$c-black};
    --clr-bcg-main: #{$c-clr-bcg-main};
    --clr-bcg-primary: #{$c-clr-bcg-primary};
    --clr-bcg-secondary: #{$c-clr-bcg-secondary};
    --clr-bcg-err: #{$c-clr-bcg-err};
    --clr-txt-primary: #{$c-clr-txt-primary};
    --clr-txt-secondary: #{$c-clr-txt-secondary};

    // border-radius
    --br-default: #{$br-br-default};

    // shadows
    --sh-small: #{$sh-sh-small};
    --sh-medium: #{$sh-sh-medium};

    // transitions
    --tr-default: #{$tr-tr-default};
    --tr-mob-burger-1: #{$tr-tr-mob-burger-1};
    --tr-mob-burger-2: #{$tr-tr-mob-burger-2};

    // line-height
    --line-height-sm: #{$f-line-height-sm};
    --line-height-md: #{$f-line-height-md};
    --line-height-bg: #{$f-line-height-bg};
    --line-height-initial: #{$f-line-height-initial};

    // font weight
    --fw-400: #{$f-fw-400};
    --fw-500: #{$f-fw-500};
    --fw-600: #{$f-fw-600};

    // mobile
    --clr-bcg-header-mob: #{$c-clr-bcg-header-mob};
    --clr-bcg-nav-mob: #{$c-clr-bcg-nav-mob};
}
