body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: var(--clr-txt-primary);
}

a {
    text-decoration: none;
}

p {
    max-inline-size: 66ch;

    // font-size: calc(0.75rem + 1.5vw);
    font-size: clamp(1.2rem, 0.75rem + 1.5vw, 1.8rem);
    font-weight: 500;
    line-height: 1.7;
}

.mark-text {
    padding: 0.4rem 0.8rem;
    border-radius: var(--br-default);

    &--html {
        background-color: var(--clr-bcg-section-html);
    }

    &--tools {
        background-color: var(--clr-bcg-section-tools);
    }

    &--css {
        background-color: var(--clr-bcg-section-css);
    }

    &--scss {
        background-color: var(--clr-bcg-section-scss);
    }

    &--js {
        background-color: var(--clr-bcg-section-js);
    }

    &--react {
        background-color: var(--clr-bcg-section-react);
    }
}
