body {
    font-family:
        'Rubik',
        system-ui,
        -apple-system,
        sans-serif;
    font-weight: var(--fw-400);
    line-height: var(--line-height-initial);
    font-display: swap;
}

p {
    // max-width: 70ch;
    font-size: 1.6rem;
    line-height: var(--line-height-bg);
    color: var(--clr-txt-primary);
}

.mark-text {
    padding: 0 0.3rem;
    color: var(--clr-txt-secondary);
    background-color: var(--clr-bcg-primary);
    border-radius: var(--br-default);

    &--err {
        font-weight: var(--fw-500);
        background-color: var(--clr-bcg-err);
    }
}
