// classic colors
$white: #fff;
$black: #000;

// background colors
$clr-bcg-main: #001c30;
$clr-bcg-primary: #dafffb;
$clr-bcg-secondary: #f29727;
$clr-bcg-err: #e75b77;

// text colors
$clr-txt-primary: #ddd;
$clr-txt-secondary: #191919;

// mobile colors
$clr-bcg-header-mob: rgba($clr-bcg-main, 0.9);
$clr-bcg-nav-mob: rgba($clr-bcg-main, 0.97);
