.u-margin-right-md {
    margin-right: 3.2rem;
}

.u-margin-top-lg {
    margin-top: 6.4rem;
}

.u-margin-top-sm {
    margin-top: 1.2rem;
}

.u-margin-right-auto {
    margin-right: auto;
}

.u-margin-bottom-sm {
    margin-bottom: 1.2rem;
}

.u-margin-bottom-bsm {
    margin-bottom: 2.4rem;
}

.u-text-align-c {
    text-align: center;
}
