$white: #fff;
$black: #000;
$clr-bcg-main: #001c30;
$clr-bcg-primary: #dafffb;
$clr-txt-primary: #ddd;
$clr-txt-secondary: #191919;
$clr-bcg-secondary: #f29727;

// border-radius
$br-default: 4px;
$clr-bcg-err: #ffb4b0;

// shadows
$sh-small: 0 0 0.6rem 0 rgba($clr-bcg-secondary, 0.4);

:root {
    --white: #{$white};
    --black: #{$black};
    --clr-bcg-main: #{$clr-bcg-main};
    --clr-bcg-primary: #{$clr-bcg-primary};
    --clr-bcg-secondary: #{$clr-bcg-secondary};
    --clr-bcg-err: #{$clr-bcg-err};
    --clr-txt-primary: #{$clr-txt-primary};
    --clr-txt-secondary: #{$clr-txt-secondary};

    // border-radius
    --br-default: #{$br-default};

    // shadows
    --sh-small: #{$sh-small};

    // --: #{$};
}
