$white: #fff;
$black: #000;
$clr-bcg-primary: #f8f7ff;
$clr-bcg-secondary: #b8b8ff;
$clr-bcg-secondary-lg: #e3e3ff;
$clr-primary: #ffc8dd;
$clr-accent: #9381ff;
$clr-txt-primary: #716282;

// border-radius
$br-default: 9px;

// shadows
$sh-small: 0 0 0.4rem 0 rgba($black, 0.1);

:root {
    --white: #{$white};
    --black: #{$black};
    --clr-bcg-primary: #{$clr-bcg-primary};
    --clr-bcg-secondary: #{$clr-bcg-secondary};
    --clr-bcg-secondary-lg: #{$clr-bcg-secondary-lg};
    --clr-primary: #{$clr-primary};
    --clr-accent: #{$clr-accent};
    --clr-txt-primary: #{$clr-txt-primary};

    // border-radius
    --br-default: #{$br-default};

    // shadows
    --sh-small: #{$sh-small};

    // --: #{$};
}
