.code {
    display: grid;
    grid-template-columns: 1px;
    align-items: center;

    // width: clamp(20rem, calc(20rem + 50vw), 80rem);
    padding: 1.2rem 3.2rem;
    overflow-x: auto;
    font-size: 1.6rem;
    border-radius: var(--br-default);

    // scroll-snap-type: inline proximity;
    scroll-behavior: smooth;

    &-el {
        padding: 1px;
        font-family: monospace;
        line-height: 1;
    }

    &--html {
        background-color: var(--clr-bcg-section-html);
    }

    &--css {
        background-color: var(--clr-bcg-section-css);
    }

    &--tools {
        background-color: var(--clr-bcg-section-tools);
    }

    &--scss {
        background-color: var(--clr-bcg-section-scss);
    }

    &--js {
        background-color: var(--clr-bcg-section-js);
    }

    &--react {
        background-color: var(--clr-bcg-section-react);
    }
}
