.pre-el {
    position: relative;
    display: flex;
    align-items: center;
    padding: 2.4rem 4.8rem;
    border: 0.6rem solid var(--clr-primary-dark);
    border-radius: 9px;

    @media (width <= 48em) {
        padding: 1.2rem 2.4rem;
    }

    @media (width <= 24em) {
        padding: 0.8rem 1.2rem;
    }

    &__comment {
        font-weight: 400;
        color: var(--clr-txt-comment);
    }

    &:not(:last-child) {
        margin-bottom: 2.4rem;
    }
}

.code-el {
    display: block;
    padding: 1px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    font-size: 1.4rem;
    font-weight: 600;
    -webkit-overflow-scrolling: touch;

    /* width or height */
    &::-webkit-scrollbar {
        height: 0.6rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: var(--clr-primary-light);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--clr-primary);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: var(--clr-primary-dark);
    }
}
