%list-styles {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.list {
    gap: 2.4rem;

    @extend %list-styles;

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        overflow: hidden;

        &::after {
            position: absolute;
            top: 0;
            top: 4.35rem;
            left: 2rem;
            width: 2px;
            height: 100%;
            content: '';
            background-color: var(--clr-bcg-secondary);

            @media (width <= 42.5em) {
                left: 0;
            }
        }
    }

    &__text {
        margin-left: 2rem;
    }
}

.list-outer {
    gap: 2.4rem;

    @extend %list-styles;

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        overflow: hidden;
    }

    &__text {
        margin-left: 2rem;
    }
}

.list-sm {
    gap: 3.2rem;
    color: var(--clr-txt-primary);
    counter-reset: steps;

    @extend %list-styles;

    @media (width <= 42.5em) {
        gap: 2.4rem;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        padding-left: 2rem;
        counter-increment: steps;

        @media (width <= 42.5em) {
            gap: 1.6rem;
            padding-left: 0;
        }

        &::before {
            position: absolute;
            top: 1.2rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 1.2rem;
            height: 0.2rem;
            font-size: 1.2rem;
            color: var(--clr-txt-secondary);
            content: '';

            // content: counter(steps);
            background-color: var(--clr-txt-primary);
            border-radius: var(--br-default);
        }
    }

    &__text {
        margin-left: 2.2rem;
        line-height: var(--line-height-md);
    }
}

.list-inner {
    gap: 1.8rem;

    @extend %list-styles;

    @media (width <= 42.5em) {
        gap: 1.2rem;
    }

    &__item {
        position: relative;
        margin-left: 6rem;
        font-size: 1.5rem;
        line-height: var(--line-height-bg);

        &::before {
            position: absolute;
            top: 1.3rem;
            left: -1.5rem;
            width: 0.5rem;
            height: 0.5rem;
            content: '';
            background-color: var(--clr-txt-primary);
            border-radius: 50%;
        }

        @media (width <= 42.5em) {
            margin-left: 3.2rem;
        }
    }

    &__text {
        margin: 0;
    }
}
