.logo {
    &:link,
    &:visited {
        padding: 0.8rem 1.2rem;
        font-size: 3rem;
        font-weight: var(--fw-500);
        color: var(--clr-txt-secondary);
        text-decoration: none;
        background-color: var(--clr-bcg-primary);
        border-radius: var(--br-default);
        box-shadow: var(--sh-small);
        transition: var(--tr-default);

        &:hover,
        &:active {
            background-color: var(--clr-bcg-secondary);
        }

        @media (width <= 87.5em) {
            margin-left: 3.2rem;
        }

        @media (width <= 68.75em) {
            font-size: 2.4rem;
        }

        @media (width <= 52.5em) {
            margin-left: 1.6rem;
        }

        @media (width <= 20em) {
            margin-left: 1.2rem;
        }
    }

    &::selection {
        color: var(--clr-txt-primary);
        background-color: var(--clr-txt-secondary);
    }
}
