.logo {
    &:link,
    &:visited {
        padding: 0.8rem 1.2rem;
        font-size: 3.2rem;
        line-height: 1;
        color: var(--clr-txt-primary);
        text-decoration: none;
        border-radius: var(--br-default);
        box-shadow: var(--sh-small);
        transition: all 0.2s;
    }

    &:hover,
    &:active {
        background-color: var(--clr-bcg-secondary-lg);
    }
}
