.page-nav {
    position: sticky;
    top: 2rem;
    grid-column: center-end / nav-end;
    align-self: start;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--clr-txt-primary);
    border-radius: var(--br-default);

    @media (width <= 68.75em) {
        display: none;
    }

    & #on-this-page {
        margin-bottom: 2.4rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        list-style: none;
    }

    &__link {
        &:link,
        &:visited {
            display: block;
            font-weight: 500;
            color: inherit;
            transition: var(--tr-default);
        }

        &:hover,
        &:active {
            text-decoration: underline;
        }
    }

    &__list-inner {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        margin-left: 2.4rem;
        list-style: none;

        @media (width <= 22.5em) {
            margin-left: 1.2rem;
        }
    }

    &__details {
        & summary {
            margin-bottom: 0.4rem;
        }
    }

    &__link-inner {
        &:link,
        &:visited {
            color: inherit;
            transition: var(--tr-default);
        }

        &:hover,
        &:active {
            text-decoration: underline;
        }
    }
}
