.properties {
    display: flex;
    flex-flow: column wrap;
    gap: 4.8rem;

    &__item {
        position: relative;
        max-width: 100%;
        padding: 2.4rem 3.2rem;
        background-image: linear-gradient(
            to right bottom,
            rgba($black, 0.5),
            rgba($black, 0.5)
        );
        border-radius: var(--border-radius-default);
        box-shadow: var(--sh-white);

        @media (width <= 24em) {
            padding: 1.2rem 2.4rem;
            border-radius: 0;
        }
    }

    &__item:not(:nth-of-type(1))::before {
        position: absolute;
        top: -2.4rem;
        left: 50%;
        z-index: 100;
        display: inline-block;
        width: 2rem;
        height: 0.3rem;
        content: '';
        background-color: $clr-primary;
    }

    &__descr {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.7;

        &:not(:last-child) {
            margin-bottom: 2.4rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-weight: 700;
            color: inherit;
            text-decoration: underline;
            transition: var(--tr-default);
        }

        &:hover,
        &:active {
            color: var(--clr-primary-dark);
        }
    }

    & picture {
        background-image: linear-gradient(
            to right bottom,
            rgba(darken($clr-txt-tertiary, 20%), 0.8),
            rgba(darken($clr-txt-tertiary, 60%), 0.8)
        );
        border-radius: var(--border-radius-default);

        &:not(:last-child) {
            margin-bottom: 2.4rem;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        filter: brightness(0.4);
        border: 0.6rem solid var(--clr-primary-dark);
        border-radius: var(--border-radius-default);
    }
}
