.resources {
    display: flex;
    flex-flow: row wrap;
    gap: 1.6rem;

    &__link {
        &:link,
        &:visited {
            padding: 0.4rem 1.2rem;
            font-size: 1.6rem;
            font-size: clamp(1.4rem, 0.9rem + 1vw, 1.7rem);
            font-weight: var(--fw-500);
            line-height: var(--line-height-md);
            color: var(--clr-txt-secondary);
            background-color: var(--clr-bcg-primary);
            border-radius: var(--br-default);
            box-shadow: var(--sh-small);
            transition: var(--tr-default);
        }

        &:hover,
        &:active {
            background-color: var(--clr-bcg-secondary);
        }
    }

    &__icon {
        width: 1.2rem;
        height: 1.2rem;
        margin-left: 0.6rem;
        fill: var(--clr-txt-secondary);
    }
}
