.resources {
    display: flex;
    flex-flow: row wrap;
    gap: 1.6rem;

    &__link {
        &:link,
        &:visited {
            padding: 0.8rem 1.6rem;
            font-size: clamp(1.6rem, 0.9rem + 1vw, 1.8rem);
            font-weight: 400;
            color: inherit;
            background-color: var(--clr-bcg-primary);
            border-radius: var(--br-default);
            box-shadow: var(--sh-small);
            transition: all 0.2s;
        }

        &--html {
            &:hover,
            &:active {
                background-color: var(--clr-accent-html);
            }
        }

        &--tools {
            &:hover,
            &:active {
                background-color: var(--clr-accent-tools);
            }
        }

        &--css {
            &:hover,
            &:active {
                background-color: var(--clr-accent-css);
            }
        }

        &--scss {
            &:hover,
            &:active {
                background-color: var(--clr-accent-css);
            }
        }

        &--js {
            &:hover,
            &:active {
                background-color: var(--clr-accent-css);
            }
        }

        &--react {
            &:hover,
            &:active {
                background-color: var(--clr-accent-css);
            }
        }
    }

    &__icon {
        width: 1.2rem;
        height: 1.2rem;
        margin-left: 0.6rem;
        fill: var(--clr-txt-primary);
    }
}
