.main {
    display: grid;
    grid-template-columns:
        [center-start] 0.67fr
        [center-end];
    grid-row: 3;
    grid-column: center-start / center-end;
    column-gap: 4.8rem;
    align-items: start;
    justify-content: center;
    color: var(--clr-txt-divider);

    @media (width <= 64em) {
        grid-template-columns: [center-start] 0.8fr [center-end];
    }

    @media (width <= 48em) {
        grid-template-columns: [center-start] 1fr [center-end];
    }
}
