.grid {
    display: grid;
    grid-template-rows: 4.8rem auto 4.8rem;
    grid-template-columns:
        [full-start] minmax(3.2rem, 1fr) [center-start] 6.4rem
        repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) 6.4rem
        [center-end] minmax(3.2rem, 1fr) [full-end];
}

.grid-inner {
    display: grid;
    grid-template-rows: 10rem auto;
    grid-template-columns:
        [full-start] 6.4rem [center-start] repeat(
            10,
            [col-start] minmax(min-content, 1fr) [col-end]
        )
        [center-end] 6.4rem [full-end];
    row-gap: 2.4rem;
}

.wrapper {
    grid-row: 2;
    grid-column: center-start / center-end;
    overflow: hidden;
    background-size: cover;
}

.header {
    grid-row: 1;
    grid-column: full-start / full-end;
}
