.grid {
    display: grid;
    grid-template-rows: 8rem min-content;
    grid-template-columns:
        [full-start]
        minmax(3.2rem, 1fr) [center-start] repeat(
            10,
            [col-start] minmax(min-content, 12rem) [col-end]
        )
        [center-end]
        24.4rem [nav-end]
        minmax(3.2rem, 1fr) [full-end];
    row-gap: 5rem;
    padding: 3.2rem 0 12rem;
}
