.header {
    display: flex;
    grid-row: 1;
    grid-column: center-start / nav-end;
    gap: 2.4rem;
    align-items: center;

    &__icon {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        fill: var(--clr-txt-secondary);
        transition: all 0.1s;
    }

    &__icon-box {
        &:link,
        &:visited {
            display: flex;
            align-items: center;
            padding: 1rem;
            text-decoration: none;
            background-color: var(--clr-bcg-primary);
            border-radius: var(--br-default);
            transition: all 0.2s;
        }

        &:hover,
        &:active {
            background-color: var(--clr-bcg-secondary);
        }
    }
}

.socials-box {
    display: flex;
    gap: 2.4rem;

    @media (width <= 87.5em) {
        display: none;
    }
}

.btn-mobile-nav {
    display: none;

    @media (width <= 87.5em) {
        display: block;
    }
}
