.header {
    display: flex;
    grid-row: 1;
    grid-column: center-start / nav-end;
    gap: 2.4rem;
    align-items: center;

    @media (width <= 68.75em) {
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 6rem;
        background: rgba($clr-bcg-main, 0.9);
    }

    &__icon-box {
        &:link,
        &:visited {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            background-color: var(--clr-bcg-primary);
            border-radius: var(--br-default);
            transition: var(--tr-default);
        }

        &:hover,
        &:active {
            background-color: var(--clr-bcg-secondary);
        }
    }

    &__icon {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        fill: var(--clr-txt-secondary);
    }
}

.socials-box {
    display: flex;
    gap: 2.4rem;

    @media (width <= 68.75em) {
        display: none;
    }
}
