@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RubikRegular.eot");
  src: url("../fonts/RubikRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RubikRegular.woff2") format("woff2"), url("../fonts/RubikRegular.woff") format("woff"), url("../fonts/RubikRegular.ttf") format("truetype"), url("../fonts/RubikRegular.svg#RubikRegular") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/RubikMedium.eot");
  src: url("../fonts/RubikMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RubikMedium.woff2") format("woff2"), url("../fonts/RubikMedium.woff") format("woff"), url("../fonts/RubikMedium.ttf") format("truetype"), url("../fonts/RubikMedium.svg#RubikMedium") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/RubikSemiBold.eot");
  src: url("../fonts/RubikSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RubikSemiBold.woff2") format("woff2"), url("../fonts/RubikSemiBold.woff") format("woff"), url("../fonts/RubikSemiBold.ttf") format("truetype"), url("../fonts/RubikSemiBold.svg#RubikSemiBold") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/RubikBold.eot");
  src: url("../fonts/RubikBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RubikBold.woff2") format("woff2"), url("../fonts/RubikBold.woff") format("woff"), url("../fonts/RubikBold.ttf") format("truetype"), url("../fonts/RubikBold.svg#RubikBold") format("svg");
  font-display: swap;
}
:root {
  --white: #fff;
  --black: #000;
  --clr-bcg-main: #001c30;
  --clr-bcg-primary: #dafffb;
  --clr-bcg-secondary: #f29727;
  --clr-bcg-err: #ffb4b0;
  --clr-txt-primary: #ddd;
  --clr-txt-secondary: #191919;
  --br-default: 4px;
  --sh-small: 0 0 0.6rem 0 rgba(218, 255, 251, 0.4);
}

.u-margin-right-md {
  margin-right: 3.2rem;
}

.u-margin-top-lg {
  margin-top: 6.4rem;
}

.u-margin-top-sm {
  margin-top: 1.2rem;
}

.u-margin-right-auto {
  margin-right: auto;
}

.u-margin-bottom-sm {
  margin-bottom: 1.2rem;
}

.u-margin-bottom-bsm {
  margin-bottom: 2.4rem;
}

.u-text-align-c {
  text-align: center;
}

body {
  font-family: "Rubik", system-ui, -apple-system, sans-serif;
  font-weight: 400;
  line-height: 1;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  font-size: clamp(1.6rem, 0.75rem + 1vw, 1.8rem);
  line-height: 1.7;
  color: var(--clr-txt-primary);
}

.mark-text {
  padding: 0.2rem 0.4rem;
  color: var(--clr-txt-secondary);
  background-color: var(--clr-bcg-primary);
  border-radius: var(--br-default);
}

html,
body {
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
  font-display: swap;
  background-color: var(--clr-bcg-main);
}

:focus-visible {
  outline: 0.4rem solid var(--clr-txt-primary);
}

::-moz-selection {
  color: var(--clr-txt-primary);
  background-color: var(--clr-txt-secondary);
}

::selection {
  color: var(--clr-txt-primary);
  background-color: var(--clr-txt-secondary);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

picture {
  display: inline-block;
}

strong {
  font-weight: 600;
}

img,
video,
iframe {
  display: block;
  max-width: 100%;
  max-inline-size: 100%;
  height: auto;
  block-size: auto;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  grid-row: 1;
  grid-column: center-start/nav-end;
  gap: 2.4rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__icon {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--clr-txt-secondary);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.header__icon-box:link, .header__icon-box:visited {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  text-decoration: none;
  background-color: var(--clr-bcg-primary);
  border-radius: var(--br-default);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header__icon-box:hover, .header__icon-box:active {
  background-color: var(--clr-bcg-secondary);
}

.socials-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
}

.btn-mobile-nav {
  display: none;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8rem 5rem -webkit-min-content;
  -ms-grid-rows: 8rem 5rem min-content;
  grid-template-rows: 8rem -webkit-min-content;
  grid-template-rows: 8rem min-content;
  -ms-grid-columns: [full-start] minmax(3.2rem, 1fr) [center-start] ([col-start] minmax(-webkit-min-content, 12rem) [col-end])[10] [center-end] 24.4rem [nav-end] minmax(3.2rem, 1fr) [full-end];
  -ms-grid-columns: [full-start] minmax(3.2rem, 1fr) [center-start] ([col-start] minmax(min-content, 12rem) [col-end])[10] [center-end] 24.4rem [nav-end] minmax(3.2rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(3.2rem, 1fr) [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 12rem) [col-end]) [center-end] 24.4rem [nav-end] minmax(3.2rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(3.2rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 24.4rem [nav-end] minmax(3.2rem, 1fr) [full-end];
  row-gap: 5rem;
  padding: 3.2rem 0 12rem;
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.grid > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.grid > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.grid > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
}

.grid > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.grid > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
}

.grid > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.grid > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 12;
}

.grid > *:nth-child(13) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.grid > *:nth-child(14) {
  -ms-grid-row: 1;
  -ms-grid-column: 14;
}

.grid > *:nth-child(15) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.grid > *:nth-child(16) {
  -ms-grid-row: 1;
  -ms-grid-column: 16;
}

.grid > *:nth-child(17) {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
}

.grid > *:nth-child(18) {
  -ms-grid-row: 1;
  -ms-grid-column: 18;
}

.grid > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.grid > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid > *:nth-child(22) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.grid > *:nth-child(23) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.grid > *:nth-child(24) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.grid > *:nth-child(25) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.grid > *:nth-child(26) {
  -ms-grid-row: 3;
  -ms-grid-column: 8;
}

.grid > *:nth-child(27) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.grid > *:nth-child(28) {
  -ms-grid-row: 3;
  -ms-grid-column: 10;
}

.grid > *:nth-child(29) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.grid > *:nth-child(30) {
  -ms-grid-row: 3;
  -ms-grid-column: 12;
}

.grid > *:nth-child(31) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

.grid > *:nth-child(32) {
  -ms-grid-row: 3;
  -ms-grid-column: 14;
}

.grid > *:nth-child(33) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}

.grid > *:nth-child(34) {
  -ms-grid-row: 3;
  -ms-grid-column: 16;
}

.grid > *:nth-child(35) {
  -ms-grid-row: 3;
  -ms-grid-column: 17;
}

.grid > *:nth-child(36) {
  -ms-grid-row: 3;
  -ms-grid-column: 18;
}

main {
  -ms-grid-row: 2;
  grid-row: 2;
  grid-column: center-start/nav-end;
}

.grid-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 4.8rem auto 4.8rem auto 4.8rem auto;
      grid-template-areas: "html html html tools tools tools" "css css css tools tools tools" "scss scss scss js js js" "react react react pwa pwa pwa";
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  gap: 4.8rem;
}

.logo:link, .logo:visited {
  padding: 0.8rem 1.2rem;
  font-size: 3.2rem;
  line-height: 1;
  color: var(--clr-txt-secondary);
  text-decoration: none;
  background-color: var(--clr-bcg-primary);
  border-radius: var(--br-default);
  -webkit-box-shadow: var(--sh-small);
          box-shadow: var(--sh-small);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.logo:link:hover, .logo:link:active, .logo:visited:hover, .logo:visited:active {
  background-color: var(--clr-bcg-secondary);
}

.resources {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1.6rem;
}
.resources__link:link, .resources__link:visited {
  padding: 0.4rem 1.2rem;
  font-size: 1.6rem;
  font-size: clamp(1.6rem, 0.9rem + 1vw, 1.7rem);
  font-weight: 500;
  line-height: 1.6;
  color: inherit;
  color: var(--clr-txt-secondary);
  background-color: var(--clr-bcg-primary);
  border-radius: var(--br-default);
  -webkit-box-shadow: var(--sh-small);
          box-shadow: var(--sh-small);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.resources__link:hover, .resources__link:active {
  background-color: var(--clr-bcg-secondary);
}
.resources__icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.6rem;
  fill: var(--clr-txt-secondary);
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem;
  border-radius: var(--br-default);
  -webkit-box-shadow: 0 0 1.2rem rgba(218, 255, 251, 0.5);
          box-shadow: 0 0 1.2rem rgba(218, 255, 251, 0.5);
}
.section--html {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: html;
}
.section--tools {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-area: tools;
}
.section--css {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: css;
}
.section--js {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-area: js;
  height: 30rem;
}
.section--scss {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: scss;
  height: 30rem;
}
.section--react {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: react;
  height: 30rem;
}
.section--pwa {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-area: pwa;
  height: 30rem;
}

.section-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1.2rem;
}
.section-header__link:link, .section-header__link:visited {
  display: block;
  padding: 1.2rem 2.4rem;
  font-size: 2.4rem;
  font-size: clamp(2.4rem, 1.4rem + 1vw, 3rem);
  font-weight: 700;
  color: inherit;
  color: var(--clr-txt-secondary);
  text-align: center;
  background-color: var(--clr-bcg-primary);
  border-radius: var(--br-default);
  -webkit-box-shadow: var(--sh-small);
          box-shadow: var(--sh-small);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.section-header__link:hover, .section-header__link:active {
  background-color: var(--clr-bcg-secondary);
}
.section-header__resources {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
  background-color: var(--clr-bcg-primary);
  border-radius: var(--br-default);
  -webkit-box-shadow: var(--sh-small);
          box-shadow: var(--sh-small);
}
.section-header__resources-link:link, .section-header__resources-link:visited {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 4.8rem;
  padding: 1.2rem;
  text-decoration: none;
  background-color: var(--clr-bcg-primary);
  border-radius: var(--br-default);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.section-header__resources-link:hover, .section-header__resources-link:active {
  background-color: var(--clr-bcg-secondary);
}
.section-header__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--clr-txt-primary);
}
.section-header__icon--codrops {
  width: 11rem;
}

.title-h3 {
  display: inline-block;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: 0.8rem 1.6rem;
  font-size: 1.7rem;
  font-size: clamp(1.7rem, 0.8rem + 1vw, 2rem);
  font-weight: 600;
  color: var(--clr-txt-secondary);
  background-color: var(--clr-bcg-secondary);
  border-radius: var(--br-default);
}
.title-h3:not(:first-of-type) {
  margin-top: 1.2rem;
}
@media (width <= 87.5em) {
  .socials-box {
    display: none;
  }
  .btn-mobile-nav {
    display: block;
  }
  .grid {
    -ms-grid-columns: [full-start] minmax(3.2rem, 1fr) [center-start] ([col-start] minmax(-webkit-min-content, 12rem) [col-end])[10] [center-end] 20rem [nav-end] minmax(3.2rem, 1fr) [full-end];
    -ms-grid-columns: [full-start] minmax(3.2rem, 1fr) [center-start] ([col-start] minmax(min-content, 12rem) [col-end])[10] [center-end] 20rem [nav-end] minmax(3.2rem, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(3.2rem, 1fr) [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 12rem) [col-end]) [center-end] 20rem [nav-end] minmax(3.2rem, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(3.2rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 20rem [nav-end] minmax(3.2rem, 1fr) [full-end];
  }
  .grid-inner {
        grid-template-areas: ". . html html html . ." ". . css css css . ." ". . tools tools tools . ." ". . scss scss scss . ." ". . js js js . ." ". . react react react . ." ". . pwa pwa pwa . .";
  }
  .section-header {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section--html {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }
  .section--tools {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }
  .section--css {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }
  .section--js {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }
  .section--scss {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }
  .section--react {
    -ms-grid-row: 6;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }
  .section--pwa {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }
}
@media (width <= 75em) {
  .resources__link:link, .resources__link:visited {
    font-size: 1.5rem;
  }
}
@media (width <= 68.75em) {
  .grid {
    -ms-grid-columns: [full-start] minmax(3.2rem, 1fr) [center-start] ([col-start] minmax(-webkit-min-content, 12rem) [col-end])[10] [center-end] minmax(3.2rem, 1fr) [full-end];
    -ms-grid-columns: [full-start] minmax(3.2rem, 1fr) [center-start] ([col-start] minmax(min-content, 12rem) [col-end])[10] [center-end] minmax(3.2rem, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(3.2rem, 1fr) [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 12rem) [col-end]) [center-end] minmax(3.2rem, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(3.2rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(3.2rem, 1fr) [full-end];
  }
  main {
    grid-column: center-start/center-end;
  }
}
@media (width <= 56.25em) {
  .grid-inner {
        grid-template-areas: "html html html html html html " "css css css css css css" "tools tools tools tools tools tools" "scss scss scss scss scss scss" "js js js js js js" "react react react react react react" "pwa pwa pwa pwa pwa pwa";
  }
  .section--html {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .section--tools {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .section--css {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .section--js {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .section--scss {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .section--react {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
  .section--pwa {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }
}
@media (width <= 52.5em) {
  .grid {
    -ms-grid-columns: [full-start] 1.6rem [center-start] ([col-start] minmax(-webkit-min-content, 12rem) [col-end])[10] [center-end] 1.6rem [full-end];
    -ms-grid-columns: [full-start] 1.6rem [center-start] ([col-start] minmax(min-content, 12rem) [col-end])[10] [center-end] 1.6rem [full-end];
    grid-template-columns: [full-start] 1.6rem [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 12rem) [col-end]) [center-end] 1.6rem [full-end];
    grid-template-columns: [full-start] 1.6rem [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 1.6rem [full-end];
    padding: 0 0 6rem;
  }
}
@media (width <= 42.5em) {
  .logo:link, .logo:visited {
    font-size: 2.6rem;
  }
  .resources__link:link, .resources__link:visited {
    font-size: 1.4rem;
  }
  .section {
    padding: 2.4rem 1.2rem;
    -webkit-box-shadow: 0 0 1.2rem rgba(218, 255, 251, 0.5);
            box-shadow: 0 0 1.2rem rgba(218, 255, 251, 0.5);
  }
  .section-header {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
@media (width <= 20em) {
  .grid {
    -ms-grid-columns: [full-start] 1.2rem [center-start] ([col-start] minmax(-webkit-min-content, 12rem) [col-end])[10] [center-end] 1.2rem [full-end];
    -ms-grid-columns: [full-start] 1.2rem [center-start] ([col-start] minmax(min-content, 12rem) [col-end])[10] [center-end] 1.2rem [full-end];
    grid-template-columns: [full-start] 1.2rem [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 12rem) [col-end]) [center-end] 1.2rem [full-end];
    grid-template-columns: [full-start] 1.2rem [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 1.2rem [full-end];
  }
}