@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-regular.eot");
  src: url("../fonts/poppins-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-regular.woff2") format("woff2"), url("../fonts/poppins-regular.woff") format("woff"), url("../fonts/poppins-regular.ttf") format("truetype"), url("../fonts/poppins-regular.svg#poppinsregular") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-medium.eot");
  src: url("../fonts/poppins-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-medium.woff2") format("woff2"), url("../fonts/poppins-medium.woff") format("woff"), url("../fonts/poppins-medium.ttf") format("truetype"), url("../fonts/poppins-medium.svg#poppinsmedium") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-semibold.eot");
  src: url("../fonts/poppins-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-semibold.woff2") format("woff2"), url("../fonts/poppins-semibold.woff") format("woff"), url("../fonts/poppins-semibold.ttf") format("truetype"), url("../fonts/poppins-semibold.svg#poppinssemibold") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-bold.eot");
  src: url("../fonts/poppins-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-bold.woff2") format("woff2"), url("../fonts/poppins-bold.woff") format("woff"), url("../fonts/poppins-bold.ttf") format("truetype"), url("../fonts/poppins-bold.svg#poppinsbold") format("svg");
  font-display: swap;
}
:root {
  --white: #fff;
  --black: #000;
  --clr-bcg-primary: #f8f7ff;
  --clr-bcg-section-html: #f8edf2;
  --clr-bcg-section-tools: #f1f0ff;
  --clr-bcg-section-css: #ebf0fb;
  --clr-bcg-section-scss: #f6eff9;
  --clr-bcg-section-js: #f8f5f1;
  --clr-bcg-section-react: #eff6ff;
  --clr-primary: #ffc8dd;
  --clr-accent: #9381ff;
  --clr-accent-html: #f9dcd4;
  --clr-accent-tools: #e3e3ff;
  --clr-accent-css: #d0e3f0;
  --clr-accent-scss: #f5e0eb;
  --clr-accent-js: #fdf9d2;
  --clr-accent-react: #dff8fe;
  --clr-txt-primary: #363636;
  --br-default: 9px;
  --sh-small: 0 0 0.4rem 0 rgba(0, 0, 0, 0.1);
}

.u-margin-right-md {
  margin-right: 3.2rem;
}

.u-margin-right-auto {
  margin-right: auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--clr-txt-primary);
}

a {
  text-decoration: none;
}

p {
  max-inline-size: 66ch;
  font-size: clamp(1.2rem, 0.75rem + 1.5vw, 1.7rem);
  font-weight: 500;
  line-height: 1.7;
}

.mark-text {
  padding: 0.4rem 0.8rem;
  border-radius: var(--br-default);
}
.mark-text--html {
  background-color: var(--clr-bcg-section-html);
}
.mark-text--tools {
  background-color: var(--clr-bcg-section-tools);
}
.mark-text--css {
  background-color: var(--clr-bcg-section-css);
}
.mark-text--scss {
  background-color: var(--clr-bcg-section-scss);
}
.mark-text--js {
  background-color: var(--clr-bcg-section-js);
}
.mark-text--react {
  background-color: var(--clr-bcg-section-react);
}

body {
  min-height: 100vh;
  font-display: swap;
  background-color: var(--clr-bcg-primary);
}

:focus-visible {
  outline: 0.4rem solid var(--clr-txt-primary);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

picture {
  display: inline-block;
}

strong {
  font-weight: 600;
}

img,
video,
iframe {
  display: block;
  max-width: 100%;
  max-inline-size: 100%;
  height: auto;
  block-size: auto;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  grid-row: 1;
  grid-column: center-start/center-end;
  gap: 2.4rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__icon-box:link, .header__icon-box:visited {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem;
  text-decoration: none;
  background-color: var(--clr-bcg-primary);
  border-radius: var(--br-default);
  -webkit-box-shadow: var(--sh-small);
          box-shadow: var(--sh-small);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header__icon {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--clr-txt-primary);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8rem 5rem -webkit-min-content;
  -ms-grid-rows: 8rem 5rem min-content;
  grid-template-rows: 8rem -webkit-min-content;
  grid-template-rows: 8rem min-content;
  -ms-grid-columns: [full-start] minmax(3.2rem, 1fr) [center-start] ([col-start] minmax(-webkit-min-content, 14.4rem) [col-end])[10] [center-end] minmax(3.2rem, 1fr) [full-end];
  -ms-grid-columns: [full-start] minmax(3.2rem, 1fr) [center-start] ([col-start] minmax(min-content, 14.4rem) [col-end])[10] [center-end] minmax(3.2rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(3.2rem, 1fr) [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 14.4rem) [col-end]) [center-end] minmax(3.2rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(3.2rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14.4rem) [col-end]) [center-end] minmax(3.2rem, 1fr) [full-end];
  row-gap: 5rem;
  padding: 3.2rem 0 12rem;
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.grid > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.grid > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.grid > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
}

.grid > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.grid > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
}

.grid > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.grid > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 12;
}

.grid > *:nth-child(13) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.grid > *:nth-child(14) {
  -ms-grid-row: 1;
  -ms-grid-column: 14;
}

.grid > *:nth-child(15) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.grid > *:nth-child(16) {
  -ms-grid-row: 1;
  -ms-grid-column: 16;
}

.grid > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.grid > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.grid > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.grid > *:nth-child(22) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.grid > *:nth-child(23) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.grid > *:nth-child(24) {
  -ms-grid-row: 3;
  -ms-grid-column: 8;
}

.grid > *:nth-child(25) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.grid > *:nth-child(26) {
  -ms-grid-row: 3;
  -ms-grid-column: 10;
}

.grid > *:nth-child(27) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.grid > *:nth-child(28) {
  -ms-grid-row: 3;
  -ms-grid-column: 12;
}

.grid > *:nth-child(29) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

.grid > *:nth-child(30) {
  -ms-grid-row: 3;
  -ms-grid-column: 14;
}

.grid > *:nth-child(31) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}

.grid > *:nth-child(32) {
  -ms-grid-row: 3;
  -ms-grid-column: 16;
}

main {
  -ms-grid-row: 2;
  grid-row: 2;
}

.grid-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-column: center-start/center-end;
  gap: 6.4rem;
}

.logo:link, .logo:visited {
  padding: 0.8rem 1.2rem;
  font-size: 3.2rem;
  line-height: 1;
  color: var(--clr-txt-primary);
  text-decoration: none;
  background-color: var(--clr-bcg-primary);
  border-radius: var(--br-default);
  -webkit-box-shadow: var(--sh-small);
          box-shadow: var(--sh-small);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.resources {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1.6rem;
}
.resources__link:link, .resources__link:visited {
  padding: 0.8rem 1.6rem;
  font-size: clamp(1.2rem, 0.75rem + 1.5vw, 1.8rem);
  font-weight: 500;
  color: inherit;
  background-color: var(--clr-bcg-primary);
  border-radius: var(--br-default);
  -webkit-box-shadow: var(--sh-small);
          box-shadow: var(--sh-small);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.resources__link--html:hover, .resources__link--html:active {
  background-color: var(--clr-accent-html);
}
.resources__link--tools:hover, .resources__link--tools:active {
  background-color: var(--clr-accent-tools);
}
.resources__link--css:hover, .resources__link--css:active {
  background-color: var(--clr-accent-css);
}
.resources__link--scss:hover, .resources__link--scss:active {
  background-color: var(--clr-accent-css);
}
.resources__link--js:hover, .resources__link--js:active {
  background-color: var(--clr-accent-css);
}
.resources__link--react:hover, .resources__link--react:active {
  background-color: var(--clr-accent-css);
}
.resources__icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.6rem;
  fill: var(--clr-txt-primary);
}

.code {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: clamp(20rem, 20rem + 50vw, 80rem);
  max-inline-size: 100%;
  padding: 1.2rem 3.2rem;
  overflow-x: auto;
  font-size: 1.6rem;
  border-radius: var(--br-default);
  scroll-behavior: smooth;
}
.code__el {
  padding: 1px;
  font-family: monospace;
  line-height: 1;
  scroll-snap-align: start;
}
.code--html {
  background-color: var(--clr-bcg-section-html);
}
.code--css {
  background-color: var(--clr-bcg-section-css);
}
.code--tools {
  background-color: var(--clr-bcg-section-tools);
}
.code--scss {
  background-color: var(--clr-bcg-section-scss);
}
.code--js {
  background-color: var(--clr-bcg-section-js);
}
.code--react {
  background-color: var(--clr-bcg-section-react);
}

.main-header {
  text-align: center;
}

.section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] minmax(-webkit-min-content, 1fr) [center-start] ([col-start] minmax(-webkit-min-content, 10rem) [col-end])[8] [center-end] minmax(-webkit-min-content, 1fr) [full-end];
  -ms-grid-columns: [full-start] minmax(min-content, 1fr) [center-start] ([col-start] minmax(min-content, 10rem) [col-end])[8] [center-end] minmax(min-content, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(-webkit-min-content, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 10rem) [col-end]) [center-end] minmax(-webkit-min-content, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(min-content, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(min-content, 1fr) [full-end];
  row-gap: 5rem;
}
.section__part {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-column: col-start 1/col-end 8;
  gap: 2.4rem;
}
.section__img {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: var(--br-default);
}
.section__link:link, .section__link:visited {
  color: inherit;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.section__link--html:link, .section__link--html:visited {
  border-bottom: 2px solid var(--clr-accent-html);
}
.section__link--css:link, .section__link--css:visited {
  border-bottom: 2px solid var(--clr-accent-css);
}
.section__link--tools:link, .section__link--tools:visited {
  border-bottom: 2px solid var(--clr-accent-tools);
}
.section__link--scss:link, .section__link--scss:visited {
  border-bottom: 2px solid var(--clr-accent-scss);
}
.section__link--js:link, .section__link--js:visited {
  border-bottom: 2px solid var(--clr-accent-js);
}
.section__link--react:link, .section__link--react:visited {
  border-bottom: 2px solid var(--clr-accent-react);
}
.section__list {
  list-style: none;
}
.section__list-item p {
  margin-left: 2rem;
}
.section__list-item:not(:last-child) {
  margin-bottom: 1.8rem;
}

.section-header {
  grid-column: col-start 1/col-end 8;
}

.resources {
  grid-column: center-start/center-end;
}

.title-h3, .title-h2, .title-h1 {
  display: inline-block;
  font-weight: 600;
  line-height: 1.2;
  border-radius: var(--br-default);
}

.title-h1 {
  padding: 2rem 4rem;
  font-size: 3.2rem;
}
.title-h1--html {
  background-color: var(--clr-bcg-section-html);
}
.title-h1--css {
  background-color: var(--clr-bcg-section-css);
}
.title-h1--tools {
  background-color: var(--clr-bcg-section-tools);
}
.title-h1--scss {
  background-color: var(--clr-bcg-section-scss);
}
.title-h1--js {
  background-color: var(--clr-bcg-section-js);
}
.title-h1--react {
  background-color: var(--clr-bcg-section-react);
}

.title-h2 {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  margin-bottom: -2.4rem;
  font-size: clamp(1.6rem, 0.75rem + 1.5vw, 2.4rem);
  -webkit-transform: translateX(-3.5rem);
      -ms-transform: translateX(-3.5rem);
          transform: translateX(-3.5rem);
}
.title-h2--html {
  background-color: var(--clr-bcg-section-html);
}
.title-h2--css {
  background-color: var(--clr-bcg-section-css);
}
.title-h2--tools {
  background-color: var(--clr-bcg-section-tools);
}
.title-h2--scss {
  background-color: var(--clr-bcg-section-scss);
}
.title-h2--js {
  background-color: var(--clr-bcg-section-js);
}
.title-h2--react {
  background-color: var(--clr-bcg-section-react);
}

.title-h3 {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: 1rem 2rem;
  margin-bottom: 1.2rem;
  font-size: clamp(1.2rem, 0.75rem + 1.5vw, 2rem);
  word-wrap: wrap;
  -webkit-transform: translateX(-2rem);
      -ms-transform: translateX(-2rem);
          transform: translateX(-2rem);
}
.title-h3--html {
  background-color: var(--clr-bcg-section-html);
}
.title-h3--css {
  background-color: var(--clr-bcg-section-css);
}
.title-h3--tools {
  background-color: var(--clr-bcg-section-tools);
}
.title-h3--scss {
  background-color: var(--clr-bcg-section-scss);
}
.title-h3--js {
  background-color: var(--clr-bcg-section-js);
}
.title-h3--react {
  background-color: var(--clr-bcg-section-react);
}

.title-h4 {
  display: inline-block;
  margin-bottom: 1.2rem;
  font-size: clamp(1rem, 0.75rem + 1.5vw, 1.8rem);
  font-weight: 500;
  line-height: 1.2;
}