@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RubikRegular.eot");
  src: url("../fonts/RubikRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RubikRegular.woff2") format("woff2"), url("../fonts/RubikRegular.woff") format("woff"), url("../fonts/RubikRegular.ttf") format("truetype"), url("../fonts/RubikRegular.svg#RubikRegular") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/RubikMedium.eot");
  src: url("../fonts/RubikMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RubikMedium.woff2") format("woff2"), url("../fonts/RubikMedium.woff") format("woff"), url("../fonts/RubikMedium.ttf") format("truetype"), url("../fonts/RubikMedium.svg#RubikMedium") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/RubikSemiBold.eot");
  src: url("../fonts/RubikSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RubikSemiBold.woff2") format("woff2"), url("../fonts/RubikSemiBold.woff") format("woff"), url("../fonts/RubikSemiBold.ttf") format("truetype"), url("../fonts/RubikSemiBold.svg#RubikSemiBold") format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/RubikBold.eot");
  src: url("../fonts/RubikBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RubikBold.woff2") format("woff2"), url("../fonts/RubikBold.woff") format("woff"), url("../fonts/RubikBold.ttf") format("truetype"), url("../fonts/RubikBold.svg#RubikBold") format("svg");
  font-display: swap;
}
:root {
  --white: #fff;
  --black: #000;
  --clr-bcg-main: #001c30;
  --clr-bcg-primary: #dafffb;
  --clr-bcg-secondary: #f29727;
  --clr-bcg-err: #ffb4b0;
  --clr-txt-primary: #ddd;
  --clr-txt-secondary: #191919;
  --br-default: 4px;
  --sh-small: 0 0 0.6rem 0 rgba(218, 255, 251, 0.4);
}

.u-margin-right-md {
  margin-right: 3.2rem;
}

.u-margin-top-lg {
  margin-top: 6.4rem;
}

.u-margin-top-sm {
  margin-top: 1.2rem;
}

.u-margin-right-auto {
  margin-right: auto;
}

.u-margin-bottom-sm {
  margin-bottom: 1.2rem;
}

.u-margin-bottom-bsm {
  margin-bottom: 2.4rem;
}

.u-text-align-c {
  text-align: center;
}

body {
  font-family: "Rubik", system-ui, -apple-system, sans-serif;
  font-weight: 400;
  line-height: 1;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  font-size: clamp(1.6rem, 0.75rem + 1vw, 1.8rem);
  line-height: 1.7;
  color: var(--clr-txt-primary);
}

.mark-text {
  padding: 0.2rem 0.4rem;
  color: var(--clr-txt-secondary);
  background-color: var(--clr-bcg-primary);
  border-radius: var(--br-default);
}

html,
body {
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-display: swap;
  background-color: var(--clr-bcg-main);
}

:focus-visible {
  outline: 0.4rem solid var(--clr-txt-primary);
}

::-moz-selection {
  color: var(--clr-txt-primary);
  background-color: var(--clr-txt-secondary);
}

::selection {
  color: var(--clr-txt-primary);
  background-color: var(--clr-txt-secondary);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

picture {
  display: inline-block;
}

strong {
  font-weight: 600;
}

img,
video,
iframe {
  display: block;
  max-width: 100%;
  max-inline-size: 100%;
  height: auto;
  block-size: auto;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  grid-row: 1;
  grid-column: center-start/nav-end;
  gap: 2.4rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__icon {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--clr-txt-secondary);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.header__icon-box:link, .header__icon-box:visited {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  text-decoration: none;
  background-color: var(--clr-bcg-primary);
  border-radius: var(--br-default);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header__icon-box:hover, .header__icon-box:active {
  background-color: var(--clr-bcg-secondary);
}

.socials-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8rem 5rem -webkit-min-content;
  -ms-grid-rows: 8rem 5rem min-content;
  grid-template-rows: 8rem -webkit-min-content;
  grid-template-rows: 8rem min-content;
  -ms-grid-columns: [full-start] minmax(3.2rem, 1fr) [center-start] ([col-start] minmax(-webkit-min-content, 12rem) [col-end])[10] [center-end] 24.4rem [nav-end] minmax(3.2rem, 1fr) [full-end];
  -ms-grid-columns: [full-start] minmax(3.2rem, 1fr) [center-start] ([col-start] minmax(min-content, 12rem) [col-end])[10] [center-end] 24.4rem [nav-end] minmax(3.2rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(3.2rem, 1fr) [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 12rem) [col-end]) [center-end] 24.4rem [nav-end] minmax(3.2rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(3.2rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 24.4rem [nav-end] minmax(3.2rem, 1fr) [full-end];
  row-gap: 5rem;
  padding: 3.2rem 0 12rem;
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.grid > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.grid > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.grid > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
}

.grid > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.grid > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
}

.grid > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.grid > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 12;
}

.grid > *:nth-child(13) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.grid > *:nth-child(14) {
  -ms-grid-row: 1;
  -ms-grid-column: 14;
}

.grid > *:nth-child(15) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.grid > *:nth-child(16) {
  -ms-grid-row: 1;
  -ms-grid-column: 16;
}

.grid > *:nth-child(17) {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
}

.grid > *:nth-child(18) {
  -ms-grid-row: 1;
  -ms-grid-column: 18;
}

.grid > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.grid > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid > *:nth-child(22) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.grid > *:nth-child(23) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.grid > *:nth-child(24) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.grid > *:nth-child(25) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.grid > *:nth-child(26) {
  -ms-grid-row: 3;
  -ms-grid-column: 8;
}

.grid > *:nth-child(27) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.grid > *:nth-child(28) {
  -ms-grid-row: 3;
  -ms-grid-column: 10;
}

.grid > *:nth-child(29) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.grid > *:nth-child(30) {
  -ms-grid-row: 3;
  -ms-grid-column: 12;
}

.grid > *:nth-child(31) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

.grid > *:nth-child(32) {
  -ms-grid-row: 3;
  -ms-grid-column: 14;
}

.grid > *:nth-child(33) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}

.grid > *:nth-child(34) {
  -ms-grid-row: 3;
  -ms-grid-column: 16;
}

.grid > *:nth-child(35) {
  -ms-grid-row: 3;
  -ms-grid-column: 17;
}

.grid > *:nth-child(36) {
  -ms-grid-row: 3;
  -ms-grid-column: 18;
}

main {
  -ms-grid-row: 2;
  grid-row: 2;
}

.grid-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] minmax(-webkit-min-content, 1fr) [center-start] ([col-start] minmax(-webkit-min-content, 10rem) [col-end])[8] [center-end] minmax(5rem, 1fr) [full-end];
  -ms-grid-columns: [full-start] minmax(min-content, 1fr) [center-start] ([col-start] minmax(min-content, 10rem) [col-end])[8] [center-end] minmax(5rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(-webkit-min-content, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 10rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(min-content, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(5rem, 1fr) [full-end];
  grid-column: center-start/center-end;
  row-gap: 5rem;
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: calc(100vh - 8rem);
  margin-top: 8rem;
  pointer-events: none;
  visibility: hidden;
  background-color: rgba(242, 151, 39, 0.97);
  opacity: 0;
  /* -- Default transition curve - linear */
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.line {
  position: absolute;
  display: inline-block;
  width: 4.8rem;
  height: 2px;
  background-color: var(--clr-bcg-primary);
}
.line--1 {
  top: 2.4rem;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}
.line--2 {
  top: 50%;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.line--3 {
  bottom: 2.4rem;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.mobile-content {
  display: none;
}
.mobile-content__checkbox {
  position: absolute;
  top: 50%;
  z-index: 9999;
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mobile-content__checkbox:checked ~ .mobile-nav {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.mobile-content__checkbox:checked ~ .mobile-content__lines > .line--1 {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}
.mobile-content__checkbox:checked ~ .mobile-content__lines > .line--2 {
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
}
.mobile-content__checkbox:checked ~ .mobile-content__lines > .line--3 {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.mobile-content__lines {
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
}

.logo:link, .logo:visited {
  padding: 0.8rem 1.2rem;
  font-size: 3.2rem;
  line-height: 1;
  color: var(--clr-txt-secondary);
  text-decoration: none;
  background-color: var(--clr-bcg-primary);
  border-radius: var(--br-default);
  -webkit-box-shadow: var(--sh-small);
          box-shadow: var(--sh-small);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.logo:link:hover, .logo:link:active, .logo:visited:hover, .logo:visited:active {
  background-color: var(--clr-bcg-secondary);
}

.resources {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1.6rem;
}
.resources__link:link, .resources__link:visited {
  padding: 0.4rem 1.2rem;
  font-size: 1.6rem;
  font-size: clamp(1.6rem, 0.9rem + 1vw, 1.7rem);
  font-weight: 500;
  line-height: 1.6;
  color: inherit;
  color: var(--clr-txt-secondary);
  background-color: var(--clr-bcg-primary);
  border-radius: var(--br-default);
  -webkit-box-shadow: var(--sh-small);
          box-shadow: var(--sh-small);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.resources__link:hover, .resources__link:active {
  background-color: var(--clr-bcg-secondary);
}
.resources__icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.6rem;
  fill: var(--clr-txt-secondary);
}

.code {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1px;
  grid-template-columns: 1px;
  padding: 1.2rem 3.2rem;
  overflow-x: auto;
  font-size: 1.6rem;
  color: var(--clr-txt-secondary);
  background-color: var(--clr-bcg-primary);
  border-radius: var(--br-default);
  scroll-behavior: smooth;
}
.code-el {
  padding: 1px;
  font-family: monospace;
  font-weight: 700;
  line-height: 1.2;
}

.page-nav {
  grid-column: center-end/nav-end;
  -ms-grid-row-align: start;
      align-self: start;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--clr-txt-primary);
  border-radius: var(--br-default);
  -webkit-transform: translateY(13.9rem);
      -ms-transform: translateY(13.9rem);
          transform: translateY(13.9rem);
}
.page-nav p {
  margin-bottom: 2.4rem;
}
.page-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}
.page-nav__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.page-nav summary::marker {
  display: none;
  content: "";
}
.page-nav__link:link, .page-nav__link:visited {
  display: block;
  font-weight: 500;
  color: inherit;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.page-nav__link:hover, .page-nav__link:active {
  color: var(--clr-txt-dark);
  text-decoration: underline;
}
.page-nav__list-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6rem;
  margin-left: 2.4rem;
  list-style: none;
}
.page-nav__item-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page-nav__details {
  scroll-behavior: smooth;
  cursor: pointer;
}
.page-nav__details summary {
  margin-bottom: 0.4rem;
}
.page-nav__link-inner:link, .page-nav__link-inner:visited {
  color: inherit;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.page-nav__link-inner:hover, .page-nav__link-inner:active {
  color: var(--clr-txt-dark);
  text-decoration: underline;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  right: 1rem;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.main-header {
  grid-column: col-start 1/col-end 8;
  text-align: center;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-column: col-start 1/col-end 8;
  gap: 3.2rem;
}
.section__part {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.8rem;
  padding: 1.2rem 0;
}
.section__img {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: var(--br-default);
}
.section__link:link, .section__link:visited {
  display: inline;
  font-weight: 500;
  color: inherit;
  border-bottom: 2px solid var(--clr-bcg-secondary);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.section__list, .section__list-sm {
  list-style: none;
}
.section__list-item p {
  margin-left: 2rem;
}
.section__list-item h4 {
  margin-bottom: 2.4rem;
}
.section__list-item:not(:last-child) {
  margin-bottom: 3.2rem;
}
.section__list-sm-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  padding-left: 2rem;
  counter-increment: steps;
}
.section__list-sm-item p {
  margin-left: 2.3rem;
}
.section__list-sm-item::before {
  position: absolute;
  top: 0.75rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.4rem;
  line-height: 1;
  color: var(--clr-txt-secondary);
  content: counter(steps);
  background-color: var(--clr-bcg-primary);
  border-radius: 3px;
}
.section__list-sm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
  color: var(--clr-txt-primary);
  counter-reset: steps;
}
.section__list-sm-text {
  padding-left: 0.3rem;
}
.section__list-sm p {
  line-height: 1.8;
}
.section__list-sm ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.7rem;
  list-style: none;
}
.section__list-sm ul:first-child {
  margin: 1.2rem 0;
}
.section__list-sm ul li {
  position: relative;
  margin-left: 6rem;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 0.75rem + 1.5vw, 1.7rem);
  line-height: 1.8;
}
.section__list-sm ul li::before {
  position: absolute;
  top: 1.3rem;
  left: -1.5rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.6rem;
  color: var(--clr-txt-primary);
  content: "";
  background-color: var(--clr-txt-primary);
  border-radius: 50%;
}

.section-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.2rem;
}

.title-h3, .title-h2, .title-h1 {
  display: inline-block;
  font-weight: 600;
  line-height: 1.2;
  background-color: var(--clr-bcg-secondary);
  border-radius: var(--br-default);
}

.title-h1 {
  padding: 2rem 4rem;
  font-size: 2.4rem;
  font-size: clamp(2rem, 1.4rem + 1vw, 3rem);
  color: var(--clr-txt-secondary);
}

.title-h2 {
  display: inline-block;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: 1.2rem 2.4rem;
  font-size: 2.2rem;
  font-size: clamp(1.8rem, 0.9rem + 1vw, 2.4rem);
  color: var(--clr-txt-secondary);
  -webkit-transform: translateX(-3.5rem);
      -ms-transform: translateX(-3.5rem);
          transform: translateX(-3.5rem);
}
.title-h2 + .resources {
  margin-top: 2.4rem;
}

.title-h3 {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  font-size: clamp(1.6rem, 0.8rem + 1vw, 2rem);
  color: var(--clr-txt-secondary);
  word-wrap: wrap;
  -webkit-transform: translateX(-0.4rem);
      -ms-transform: translateX(-0.4rem);
          transform: translateX(-0.4rem);
}

.title-h4 {
  display: inline-block;
  font-size: 1.7rem;
  font-size: clamp(1.65rem, 0.75rem + 1vw, 1.9rem);
  font-weight: 500;
  line-height: 1.7;
  color: var(--clr-bcg-secondary);
}

@media (width <= 87.5em) {
  .header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 8rem;
    background: rgba(242, 151, 39, 0.9);
  }
  .socials-box {
    display: none;
  }
  .grid {
    -ms-grid-columns: [full-start] minmax(3.2rem, 1fr) [center-start] ([col-start] minmax(-webkit-min-content, 12rem) [col-end])[10] [center-end] 20rem [nav-end] minmax(3.2rem, 1fr) [full-end];
    -ms-grid-columns: [full-start] minmax(3.2rem, 1fr) [center-start] ([col-start] minmax(min-content, 12rem) [col-end])[10] [center-end] 20rem [nav-end] minmax(3.2rem, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(3.2rem, 1fr) [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 12rem) [col-end]) [center-end] 20rem [nav-end] minmax(3.2rem, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(3.2rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 20rem [nav-end] minmax(3.2rem, 1fr) [full-end];
    padding: 0 0 12rem;
  }
  .mobile-content {
    display: block;
    margin-right: 3.2rem;
  }
  .logo:link, .logo:visited {
    margin-left: 3.2rem;
  }
}

@media (width <= 75em) {
  .resources__link:link, .resources__link:visited {
    font-size: 1.5rem;
  }
  .title-h2 {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (width <= 68.75em) {
  .grid {
    -ms-grid-columns: [full-start] minmax(3.2rem, 1fr) [center-start] ([col-start] minmax(-webkit-min-content, 12rem) [col-end])[10] [center-end] minmax(3.2rem, 1fr) [full-end];
    -ms-grid-columns: [full-start] minmax(3.2rem, 1fr) [center-start] ([col-start] minmax(min-content, 12rem) [col-end])[10] [center-end] minmax(3.2rem, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(3.2rem, 1fr) [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 12rem) [col-end]) [center-end] minmax(3.2rem, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(3.2rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(3.2rem, 1fr) [full-end];
  }
  .grid-inner {
    -ms-grid-columns: [full-start] minmax(-webkit-min-content, 1fr) [center-start] ([col-start] minmax(-webkit-min-content, 10rem) [col-end])[8] [center-end] minmax(-webkit-min-content, 1fr) [full-end];
    -ms-grid-columns: [full-start] minmax(min-content, 1fr) [center-start] ([col-start] minmax(min-content, 10rem) [col-end])[8] [center-end] minmax(min-content, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(-webkit-min-content, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 10rem) [col-end]) [center-end] minmax(-webkit-min-content, 1fr) [full-end];
    grid-template-columns: [full-start] minmax(min-content, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(min-content, 1fr) [full-end];
  }
  .page-nav {
    display: none;
  }
}

@media (width <= 52.5em) {
  .grid {
    -ms-grid-columns: [full-start] 1.6rem [center-start] ([col-start] minmax(-webkit-min-content, 12rem) [col-end])[10] [center-end] 1.6rem [full-end];
    -ms-grid-columns: [full-start] 1.6rem [center-start] ([col-start] minmax(min-content, 12rem) [col-end])[10] [center-end] 1.6rem [full-end];
    grid-template-columns: [full-start] 1.6rem [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 12rem) [col-end]) [center-end] 1.6rem [full-end];
    grid-template-columns: [full-start] 1.6rem [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 1.6rem [full-end];
    padding: 0 0 6rem;
  }
  .grid-inner {
    -ms-grid-columns: [center-start] 1fr [center-end];
    grid-template-columns: [center-start] 1fr [center-end];
    row-gap: 2.8rem;
  }
  .mobile-content {
    margin-right: 1.6rem;
  }
  .logo:link, .logo:visited {
    margin-left: 1.6rem;
  }
  .section__part {
    grid-column: center-start/center-end;
  }
}

@media (width <= 50em) {
  .title-h3, .title-h2, .title-h1 {
    text-align: center;
  }
  .title-h2 {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    padding: 1rem 2rem;
  }
}

@media (width <= 42.5em) {
  .logo:link, .logo:visited {
    font-size: 2.6rem;
  }
  .resources__link:link, .resources__link:visited {
    font-size: 1.4rem;
  }
  .code {
    font-size: 1.4rem;
  }
  .section__part {
    gap: 1.8rem;
  }
  .section__img {
    width: 100%;
  }
  .section__list-sm-item {
    gap: 0.6rem;
    padding-left: 0;
  }
  .section__list-sm {
    gap: 2.4rem;
  }
  .section__list-sm ul {
    gap: 0.4rem;
  }
  .section__list-sm ul li {
    margin-left: 3.2rem;
  }
  .title-h1 {
    padding: 1rem 2rem;
  }
}

@media (width <= 20em) {
  .grid {
    -ms-grid-columns: [full-start] 1.2rem [center-start] ([col-start] minmax(-webkit-min-content, 12rem) [col-end])[10] [center-end] 1.2rem [full-end];
    -ms-grid-columns: [full-start] 1.2rem [center-start] ([col-start] minmax(min-content, 12rem) [col-end])[10] [center-end] 1.2rem [full-end];
    grid-template-columns: [full-start] 1.2rem [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 12rem) [col-end]) [center-end] 1.2rem [full-end];
    grid-template-columns: [full-start] 1.2rem [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 1.2rem [full-end];
  }
  .mobile-content {
    margin-right: 1.2rem;
  }
  .logo:link, .logo:visited {
    margin-left: 1.2rem;
  }
}