:root {
  --white: #fff;
  --black: #000;
  --clr-txt-primary: #212121;
  --clr-txt-secondary: #757575;
  --clr-txt-tertiary: #363636;
  --clr-txt-divider: #bdbdbd;
  --clr-txt-comment: #9f79cf;
  --clr-txt-grey: #f7f7f7;
  --clr-accent: #00bcd4;
  --clr-primary: #673ab7;
  --clr-primary-light: #d1c4e9;
  --clr-primary-dark: #512da8;
  --clr-bcg-dark: #121212;
  --sh-default: 0 0 1.2rem rgba(0, 0, 0, 0.1);
  --sh-white: 0 0 1.2rem rgba(255, 255, 255, 0.1);
  --tr-default: all 0.2s;
}

.u-margin-bottom-sm {
  margin-bottom: 1.2rem;
}

.u-margin-bottom-md {
  margin-bottom: 3.2rem;
}

.u-margin-bottom-m-md {
  margin-bottom: -2.4rem;
}

.u-text-align-c {
  text-align: center;
}

body {
  min-height: 100vh;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

picture {
  display: inline-block;
}

img {
  display: block;
}

.link:link,
.link:visited {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--clr-txt-grey);
}

.title-h1 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.2;
}

.title-h2 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
}

.title-h3 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2;
}

.title-h4 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
}

.title-h5 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.mark-text {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  line-height: 1.1;
  color: var(--clr-primary-light);
  background-color: var(--clr-txt-tertiary);
  border-radius: 3px;
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/notosans-light.eot");
  src: url("../fonts/notosans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-light.woff2") format("woff2"), url("../fonts/notosans-light.woff") format("woff"), url("../fonts/notosans-light.ttf") format("truetype"), url("../fonts/notosans-light.svg#noto_sanslight") format("svg");
  font-display: optional;
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/notosans-regular.eot");
  src: url("../fonts/notosans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-regular.woff2") format("woff2"), url("../fonts/notosans-regular.woff") format("woff"), url("../fonts/notosans-regular.ttf") format("truetype"), url("../fonts/notosans-regular.svg#noto_sansregular") format("svg");
  font-display: optional;
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/notosans-medium.eot");
  src: url("../fonts/notosans-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-medium.woff2") format("woff2"), url("../fonts/notosans-medium.woff") format("woff"), url("../fonts/notosans-medium.ttf") format("truetype"), url("../fonts/notosans-medium.svg#noto_sansmedium") format("svg");
  font-display: optional;
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/notosans-semibold.eot");
  src: url("../fonts/notosans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-semibold.woff2") format("woff2"), url("../fonts/notosans-semibold.woff") format("woff"), url("../fonts/notosans-semibold.ttf") format("truetype"), url("../fonts/notosans-semibold.svg#noto_sanssemibold") format("svg");
  font-display: optional;
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/notosans-bold.eot");
  src: url("../fonts/notosans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-bold.woff2") format("woff2"), url("../fonts/notosans-bold.woff") format("woff"), url("../fonts/notosans-bold.ttf") format("truetype"), url("../fonts/notosans-bold.svg#noto_sansbold") format("svg");
  font-display: optional;
}
.link:link, .link:visited {
  display: inline-block;
  text-decoration: none;
}

.logo:link, .logo:visited {
  padding: 1.2rem 2.4rem;
  font-weight: 500;
  color: var(--clr-txt-grey);
  text-align: center;
  border-radius: 9px;
  -webkit-box-shadow: 0 0 1.2rem rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 1.2rem rgba(255, 255, 255, 0.2);
  -webkit-transition: var(--tr-default);
  transition: var(--tr-default);
}
.logo:hover, .logo:active {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}
.logo__name {
  display: block;
  font-size: 2.6rem;
}
.logo__name::before {
  font-weight: 700;
  content: "@";
}

.pre-el {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.4rem 4.8rem;
  border: 0.6rem solid var(--clr-primary-dark);
  border-radius: 9px;
}
.pre-el__comment {
  font-weight: 400;
  color: var(--clr-txt-comment);
}
.pre-el:not(:last-child) {
  margin-bottom: 2.4rem;
}

.code-el {
  display: block;
  padding: 1px;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  font-size: 1.4rem;
  font-weight: 600;
  -webkit-overflow-scrolling: touch;
}

.properties {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 4.8rem;
}
.properties__item {
  position: relative;
  max-width: 100%;
  padding: 2.4rem 3.2rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(left top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 9px;
  -webkit-box-shadow: var(--sh-white);
          box-shadow: var(--sh-white);
}
.properties__item:not(:nth-of-type(1))::before {
  position: absolute;
  top: -2.4rem;
  left: 50%;
  z-index: 100;
  display: inline-block;
  width: 2rem;
  height: 0.3rem;
  content: "";
  background-color: #673ab7;
}
.properties__descr {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.7;
}
.properties__descr:not(:last-child) {
  margin-bottom: 2.4rem;
}
.properties__link:link, .properties__link:visited {
  display: inline-block;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  -webkit-transition: var(--tr-default);
  transition: var(--tr-default);
}
.properties__link:hover, .properties__link:active {
  color: var(--clr-primary);
}
.properties picture {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(3, 3, 3, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: -webkit-linear-gradient(left top, rgba(3, 3, 3, 0.8), rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(to right bottom, rgba(3, 3, 3, 0.8), rgba(0, 0, 0, 0.8));
  border-radius: 9px;
}
.properties picture:not(:last-child) {
  margin-bottom: 2.4rem;
}
.properties__img {
  width: 100%;
  height: auto;
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
  border: 0.6rem solid var(--clr-primary-dark);
  border-radius: 9px;
}
.properties__list {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.8rem;
  list-style: none;
}
.properties__list:not(:last-child) {
  margin-bottom: 2.4rem;
}
.properties__list-item {
  position: relative;
}
.properties__list-item::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 3px;
  height: 1.2rem;
  content: "";
  background-color: #673ab7;
  -webkit-transform: translateX(-1.8rem) translateY(0.35rem) rotate(45deg);
      -ms-transform: translateX(-1.8rem) translateY(0.35rem) rotate(45deg);
          transform: translateX(-1.8rem) translateY(0.35rem) rotate(45deg);
}
.properties__list-item::after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 3px;
  height: 1.2rem;
  content: "";
  background-color: #673ab7;
  -webkit-transform: translateX(-1.8rem) translateY(0.35rem) rotate(-45deg);
      -ms-transform: translateX(-1.8rem) translateY(0.35rem) rotate(-45deg);
          transform: translateX(-1.8rem) translateY(0.35rem) rotate(-45deg);
}
.properties__list-about {
  margin-left: 2rem;
}
.properties__list-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.8rem;
  margin-left: 2rem;
  font-size: 1.5rem;
  list-style: none;
}
.properties__list-inner:not(:last-child) {
  margin-bottom: 2.4rem;
}
.properties__list-inner-item {
  position: relative;
}
.properties__list-inner-item::before {
  position: absolute;
  top: 50%;
  left: -2rem;
  display: inline-block;
  width: 1rem;
  height: 2px;
  content: "";
  background-color: #673ab7;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 3.2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.2rem;
  margin: 1.2rem;
  border-radius: 9px;
  -webkit-box-shadow: var(--sh-default);
          box-shadow: var(--sh-default);
}

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
}
.socials__icon {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--clr-txt-grey);
  -webkit-transition: var(--tr-default);
  transition: var(--tr-default);
}
.socials__icon:hover {
  fill: var(--clr-primary);
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4.8rem 2.4rem auto 2.4rem auto 2.4rem 4.8rem;
  grid-template-rows: 4.8rem auto auto 4.8rem;
  -ms-grid-columns: [full-start] minmax(3.2rem, 1fr) [center-start] ([col-start] minmax(-webkit-min-content, 12rem) [col-end])[10] [center-end] minmax(3.2rem, 1fr) [full-end];
  -ms-grid-columns: [full-start] minmax(3.2rem, 1fr) [center-start] ([col-start] minmax(min-content, 12rem) [col-end])[10] [center-end] minmax(3.2rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(3.2rem, 1fr) [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 12rem) [col-end]) [center-end] minmax(3.2rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(3.2rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(3.2rem, 1fr) [full-end];
  row-gap: 2.4rem;
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.grid > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.grid > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.grid > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
}

.grid > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.grid > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
}

.grid > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.grid > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 12;
}

.grid > *:nth-child(13) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.grid > *:nth-child(14) {
  -ms-grid-row: 1;
  -ms-grid-column: 14;
}

.grid > *:nth-child(15) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.grid > *:nth-child(16) {
  -ms-grid-row: 1;
  -ms-grid-column: 16;
}

.grid > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.grid > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.grid > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.grid > *:nth-child(22) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.grid > *:nth-child(23) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.grid > *:nth-child(24) {
  -ms-grid-row: 3;
  -ms-grid-column: 8;
}

.grid > *:nth-child(25) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.grid > *:nth-child(26) {
  -ms-grid-row: 3;
  -ms-grid-column: 10;
}

.grid > *:nth-child(27) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.grid > *:nth-child(28) {
  -ms-grid-row: 3;
  -ms-grid-column: 12;
}

.grid > *:nth-child(29) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

.grid > *:nth-child(30) {
  -ms-grid-row: 3;
  -ms-grid-column: 14;
}

.grid > *:nth-child(31) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}

.grid > *:nth-child(32) {
  -ms-grid-row: 3;
  -ms-grid-column: 16;
}

.grid > *:nth-child(33) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.grid > *:nth-child(34) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.grid > *:nth-child(35) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.grid > *:nth-child(36) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.grid > *:nth-child(37) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.grid > *:nth-child(38) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}

.grid > *:nth-child(39) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.grid > *:nth-child(40) {
  -ms-grid-row: 5;
  -ms-grid-column: 8;
}

.grid > *:nth-child(41) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}

.grid > *:nth-child(42) {
  -ms-grid-row: 5;
  -ms-grid-column: 10;
}

.grid > *:nth-child(43) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}

.grid > *:nth-child(44) {
  -ms-grid-row: 5;
  -ms-grid-column: 12;
}

.grid > *:nth-child(45) {
  -ms-grid-row: 5;
  -ms-grid-column: 13;
}

.grid > *:nth-child(46) {
  -ms-grid-row: 5;
  -ms-grid-column: 14;
}

.grid > *:nth-child(47) {
  -ms-grid-row: 5;
  -ms-grid-column: 15;
}

.grid > *:nth-child(48) {
  -ms-grid-row: 5;
  -ms-grid-column: 16;
}

.grid > *:nth-child(49) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.grid > *:nth-child(50) {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
}

.grid > *:nth-child(51) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.grid > *:nth-child(52) {
  -ms-grid-row: 7;
  -ms-grid-column: 4;
}

.grid > *:nth-child(53) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.grid > *:nth-child(54) {
  -ms-grid-row: 7;
  -ms-grid-column: 6;
}

.grid > *:nth-child(55) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.grid > *:nth-child(56) {
  -ms-grid-row: 7;
  -ms-grid-column: 8;
}

.grid > *:nth-child(57) {
  -ms-grid-row: 7;
  -ms-grid-column: 9;
}

.grid > *:nth-child(58) {
  -ms-grid-row: 7;
  -ms-grid-column: 10;
}

.grid > *:nth-child(59) {
  -ms-grid-row: 7;
  -ms-grid-column: 11;
}

.grid > *:nth-child(60) {
  -ms-grid-row: 7;
  -ms-grid-column: 12;
}

.grid > *:nth-child(61) {
  -ms-grid-row: 7;
  -ms-grid-column: 13;
}

.grid > *:nth-child(62) {
  -ms-grid-row: 7;
  -ms-grid-column: 14;
}

.grid > *:nth-child(63) {
  -ms-grid-row: 7;
  -ms-grid-column: 15;
}

.grid > *:nth-child(64) {
  -ms-grid-row: 7;
  -ms-grid-column: 16;
}

.header {
  -ms-grid-row: 2;
  grid-row: 2;
  grid-column: full-start/full-end;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [center-start] 4.8rem 0.67fr 4.8rem [center-end];
  grid-template-columns: [center-start] 0.67fr [center-end];
  -ms-grid-row: 3;
  grid-row: 3;
  grid-column: center-start/center-end;
  -webkit-column-gap: 4.8rem;
     -moz-column-gap: 4.8rem;
          column-gap: 4.8rem;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--clr-txt-divider);
}

body {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(3, 3, 3, 0.93)), to(rgba(3, 3, 3, 0.93))), image-set(url("../img/avif/bcg-repeat.avif") type("image/avif") 1x, url("../img/avif/bcg-repeat.avif") type("image/avif") 2x, url("../img/webp/bcg-repeat.webp") type("image/webp") 1x, url("../img/webp/bcg-repeat.webp") type("image/webp") 2x, url("../img/jpg/bcg-repeat.jpg") type("image/jpeg") 1x, url("../img/jpg/bcg-repeat.jpg") type("image/jpeg") 2x);
  background-image: -webkit-linear-gradient(left top, rgba(3, 3, 3, 0.93), rgba(3, 3, 3, 0.93)), -webkit-image-set(url("../img/avif/bcg-repeat.avif") type("image/avif") 1x, url("../img/avif/bcg-repeat.avif") type("image/avif") 2x, url("../img/webp/bcg-repeat.webp") type("image/webp") 1x, url("../img/webp/bcg-repeat.webp") type("image/webp") 2x, url("../img/jpg/bcg-repeat.jpg") type("image/jpeg") 1x, url("../img/jpg/bcg-repeat.jpg") type("image/jpeg") 2x);
  background-image: linear-gradient(to right bottom, rgba(3, 3, 3, 0.93), rgba(3, 3, 3, 0.93)), image-set(url("../img/avif/bcg-repeat.avif") type("image/avif") 1x, url("../img/avif/bcg-repeat.avif") type("image/avif") 2x, url("../img/webp/bcg-repeat.webp") type("image/webp") 1x, url("../img/webp/bcg-repeat.webp") type("image/webp") 2x, url("../img/jpg/bcg-repeat.jpg") type("image/jpeg") 1x, url("../img/jpg/bcg-repeat.jpg") type("image/jpeg") 2x);
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  min-width: 0;
}
.section:not(:last-child) {
  margin-bottom: 3.2rem;
}

.recources {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1.2rem;
}
.recources__link:link, .recources__link:visited {
  padding: 1.2rem 2.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  border-radius: 9px;
  -webkit-box-shadow: var(--sh-white);
          box-shadow: var(--sh-white);
  -webkit-transition: var(--tr-default);
  transition: var(--tr-default);
}
.recources__link:hover, .recources__link:active {
  color: var(--clr-primary);
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}
@media (width <= 64em) {
  .main {
    -ms-grid-columns: [center-start] 0.8fr [center-end];
    grid-template-columns: [center-start] 0.8fr [center-end];
  }
}
@media (width <= 48em) {
  .pre-el {
    padding: 1.2rem 2.4rem;
  }
  .grid {
    -ms-grid-rows: 0 auto auto 0;
    grid-template-rows: 0 auto auto 0;
  }
  .main {
    -ms-grid-columns: [center-start] 1fr [center-end];
    grid-template-columns: [center-start] 1fr [center-end];
  }
}
@media (width <= 24em) {
  .pre-el {
    padding: 0.8rem 1.2rem;
  }
  .properties__item {
    padding: 1.2rem 2.4rem;
    border-radius: 0;
  }
  .properties__list-about {
    margin-left: 0.4rem;
  }
  .grid {
    -ms-grid-columns: [full-start] 0 [center-start] ([col-start] minmax(-webkit-min-content, 12rem) [col-end])[10] [center-end] 0 [full-end];
    -ms-grid-columns: [full-start] 0 [center-start] ([col-start] minmax(min-content, 12rem) [col-end])[10] [center-end] 0 [full-end];
    grid-template-columns: [full-start] 0 [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 12rem) [col-end]) [center-end] 0 [full-end];
    grid-template-columns: [full-start] 0 [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 0 [full-end];
  }
}