.section {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 1.2rem;
    border-radius: var(--br-default);
    box-shadow: 0 0 1.2rem rgba($black, 0.1);

    &--html {
        grid-area: html;
        background-color: var(--clr-bcg-section-html);
    }

    &--tools {
        grid-area: tools;
        background-color: var(--clr-bcg-section-tools);
    }

    &--css {
        grid-area: css;
        background-color: var(--clr-bcg-section-css);
    }

    &--js {
        grid-area: js;
        height: 30rem;
        background-color: var(--clr-bcg-section-js);
    }

    &--scss {
        grid-area: scss;
        height: 30rem;
        background-color: var(--clr-bcg-section-scss);
    }

    &--react {
        grid-area: react;
        height: 30rem;
        background-color: var(--clr-bcg-section-react);
    }

    &--pwa {
        grid-area: pwa;
        height: 30rem;

        // background-color: var(--clr-bcg-section-pwa);
    }
}

.section-header {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.2rem;

    @media (width <= 87.5em) {
        justify-content: center;
    }

    @media (width <= 42.5em) {
        flex-wrap: wrap;
    }

    &__link {
        &:link,
        &:visited {
            display: block;
            padding: 1.2rem 2.4rem;
            font-size: 2.4rem;
            font-size: clamp(2.4rem, 1.4rem + 1vw, 3rem);
            font-weight: 700;
            color: inherit;
            text-align: center;
            background-color: var(--clr-bcg-primary);
            border-radius: var(--br-default);
            box-shadow: var(--sh-small);
            transition: all 0.2s;
        }

        &--html {
            &:hover,
            &:active {
                background-color: var(--clr-accent-html);
            }
        }

        &--tools {
            &:hover,
            &:active {
                background-color: var(--clr-accent-tools);
            }
        }

        &--css {
            &:hover,
            &:active {
                background-color: var(--clr-accent-css);
            }
        }

        &--scss {
            &:hover,
            &:active {
                background-color: var(--clr-accent-scss);
            }
        }

        &--js {
            &:hover,
            &:active {
                background-color: var(--clr-accent-js);
            }
        }

        &--react {
            &:hover,
            &:active {
                background-color: var(--clr-accent-react);
            }
        }
    }

    &__resources {
        display: flex;
        gap: 1.2rem;
        background-color: var(--clr-bcg-primary);
        border-radius: var(--br-default);
        box-shadow: var(--sh-small);
    }

    &__resources-link {
        &:link,
        &:visited {
            display: flex;
            align-items: center;
            width: auto;
            height: 4.8rem;
            padding: 1.2rem;
            text-decoration: none;
            background-color: var(--clr-bcg-primary);
            border-radius: var(--br-default);
            transition: all 0.2s;
        }

        &--html {
            &:hover,
            &:active {
                background-color: var(--clr-accent-html);
            }
        }

        &--css {
            &:hover,
            &:active {
                background-color: var(--clr-accent-css);
            }
        }

        &--scss {
            &:hover,
            &:active {
                background-color: var(--clr-accent-css);
            }
        }

        &--js {
            &:hover,
            &:active {
                background-color: var(--clr-accent-css);
            }
        }

        &--react {
            &:hover,
            &:active {
                background-color: var(--clr-accent-css);
            }
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 2.4rem;
        height: 2.4rem;
        fill: var(--clr-txt-primary);

        &--codrops {
            width: 11rem;
        }
    }
}

.title-h3 {
    display: inline-block;
    align-self: flex-start;
    padding: 0.8rem 1.6rem;
    font-size: 1.7rem;
    font-size: clamp(1.7rem, 0.8rem + 1vw, 2rem);
    font-weight: 600;
    border-radius: var(--br-default);

    &--html {
        background-color: var(--clr-accent-html);
    }

    &--tools {
        background-color: var(--clr-accent-tools);
    }

    &--css {
        background-color: var(--clr-accent-css);
    }

    &--scss {
        background-color: var(--clr-accent-scss);
    }

    &--js {
        background-color: var(--clr-accent-js);
    }

    &--react {
        background-color: var(--clr-accent-react);
    }
}
