.section {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    padding: 2.4rem;
    border-radius: var(--br-default);
    box-shadow: var(--sh-medium);

    @media (width <= 42.5em) {
        padding: 1.2rem;
    }

    &--html {
        grid-area: html;
    }

    &--tools {
        grid-area: tools;
    }

    &--css {
        grid-area: css;
    }

    &--scss {
        grid-area: scss;
    }

    &--git {
        grid-area: git;
    }

    &--js {
        grid-area: js;
        height: 30rem;
    }

    &--react {
        grid-area: react;
        height: 30rem;
    }

    &--pwa {
        grid-area: pwa;
        height: 30rem;
    }
}

.section-header {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;

    @media (width <= 87.5em) {
        justify-content: center;
    }

    &__link {
        &:link,
        &:visited {
            display: block;
            padding: 1.2rem 2.4rem;
            font-size: 2.4rem;
            font-weight: var(--fw-600);
            color: var(--clr-txt-secondary);
            text-align: center;
            background-color: var(--clr-bcg-primary);
            border-radius: var(--br-default);
            box-shadow: var(--sh-small);
            transition: var(--tr-default);
        }

        &:hover,
        &:active {
            background-color: var(--clr-bcg-secondary);
        }
    }

    &__resources {
        display: flex;
        gap: 1.2rem;
        background-color: var(--clr-bcg-primary);
        border-radius: var(--br-default);
        box-shadow: var(--sh-small);
    }

    &__resources-link {
        &:link,
        &:visited {
            display: flex;
            align-items: center;
            height: 4.8rem;
            padding: 1.2rem;
            text-decoration: none;
            background-color: var(--clr-bcg-primary);
            border-radius: var(--br-default);
            transition: var(--tr-default);
        }

        &:hover,
        &:active {
            background-color: var(--clr-bcg-secondary);
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.4rem;
        height: 2.4rem;
        fill: var(--clr-txt-primary);
    }
}

.title-h3 {
    display: inline-block;
    align-self: flex-start;
    padding: 0.8rem 1.6rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    font-weight: var(--fw-600);
    color: var(--clr-txt-secondary);
    background-color: var(--clr-bcg-secondary);
    border-radius: var(--br-default);
}
