.main-header {
    grid-column: col-start 1 / col-end 8;
    text-align: center;

    & p {
        margin-top: 2.4rem;
    }
}

.section {
    display: flex;
    flex-direction: column;
    grid-column: col-start 1 / col-end 8;
    gap: 3.6rem;

    @media (width <= 68.75em) {
        gap: 0;
        padding-top: 8rem;
    }

    &__part {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        padding-top: 1.2rem;

        @media (width <= 68.75em) {
            padding-top: 6.4rem;
        }

        @media (width <= 52.5em) {
            grid-column: center-start / center-end;
        }

        @media (width <= 42.5em) {
            gap: 1.8rem;
        }
    }

    &__img {
        width: 50%;
        margin: 0 auto;
        overflow: hidden;
        border-radius: var(--br-default);

        @media (width <= 42.5em) {
            width: 100%;
        }
    }

    &__link {
        &:link,
        &:visited {
            display: inline;
            font-weight: var(--fw-500);
            color: inherit;
            border-bottom: 2px solid var(--clr-bcg-secondary);
        }
    }
}

.section-header {
    display: flex;
    flex-direction: column;
    padding-top: 1.2rem;
    margin-bottom: 1.2rem;
}

%title-styles {
    display: inline-block;
    font-weight: var(--fw-600);
    line-height: var(--line-height-sm);
    color: var(--clr-txt-secondary);
    background-color: var(--clr-bcg-secondary);
    border-radius: var(--br-default);

    @media (width <= 50em) {
        text-align: center;
    }
}

.title-h1 {
    padding: 2rem 4rem;
    font-size: 2.4rem;
    font-size: clamp(2rem, 1.4rem + 1vw, 3rem);

    @extend %title-styles;

    @media (width <= 42.5em) {
        padding: 1rem 2rem;
    }
}

.title-h2 {
    display: inline-block;
    align-self: flex-start;
    padding: 1.2rem 2.4rem;
    font-size: 2.2rem;
    font-size: clamp(1.8rem, 1.2rem + 1vw, 2.4rem);
    transform: translateX(-3.5rem);

    @extend %title-styles;

    & + .resources {
        margin-top: 2.4rem;
    }

    @media (width <= 75em) {
        transform: translateX(0);
    }

    @media (width <= 50em) {
        align-self: center;
        padding: 1rem 2rem;
    }
}

.title-h3 {
    align-self: flex-start;
    padding: 0.8rem 1.6rem;
    font-size: 1.8rem;
    font-size: clamp(1.6rem, 1rem + 1vw, 2rem);
    word-wrap: wrap;
    transform: translateX(-0.4rem);

    @extend %title-styles;
}

.title-h4 {
    display: inline-block;
    font-size: 1.7rem;
    font-size: clamp(1.65rem, 0.9rem + 1vw, 1.9rem);
    font-weight: var(--fw-500);
    line-height: var(--line-height-bg);
    color: var(--clr-bcg-secondary);
}
