.main-header {
    text-align: center;
}

.section {
    display: grid;
    grid-template-columns:
        [full-start] minmax(min-content, 1fr) [center-start] repeat(
            8,
            [col-start] minmax(min-content, 10rem) [col-end]
        )
        [center-end] minmax(min-content, 1fr) [full-end];
    row-gap: 5rem;

    &__part {
        display: flex;
        flex-direction: column;
        grid-column: col-start 1 / col-end 8;
        gap: 2.4rem;
    }

    &__img {
        width: 50%;
        margin: 0 auto;
        overflow: hidden;
        border-radius: var(--br-default);
    }

    &__link {
        &:link,
        &:visited {
            color: inherit;
            transition: all 0.2s;
        }

        &--html {
            &:link,
            &:visited {
                border-bottom: 2px solid var(--clr-accent-html);
            }
        }

        &--css {
            &:link,
            &:visited {
                border-bottom: 2px solid var(--clr-accent-css);
            }
        }

        &--tools {
            &:link,
            &:visited {
                border-bottom: 2px solid var(--clr-accent-tools);
            }
        }

        &--scss {
            &:link,
            &:visited {
                border-bottom: 2px solid var(--clr-accent-scss);
            }
        }

        &--js {
            &:link,
            &:visited {
                border-bottom: 2px solid var(--clr-accent-js);
            }
        }

        &--react {
            &:link,
            &:visited {
                border-bottom: 2px solid var(--clr-accent-react);
            }
        }
    }

    &__list {
        list-style: none;
    }

    &__list-item {
        & p {
            margin-left: 2rem;
        }

        &:not(:last-child) {
            margin-bottom: 1.8rem;
        }
    }
}

.section-header {
    grid-column: col-start 1 / col-end 8;
}

.resources {
    grid-column: center-start / center-end;
}

%title-styles {
    display: inline-block;
    font-weight: 600;
    line-height: 1.2;
    border-radius: var(--br-default);
}

.title-h1 {
    padding: 2rem 4rem;
    font-size: 3.2rem;

    &--html {
        background-color: var(--clr-bcg-section-html);
    }

    &--css {
        background-color: var(--clr-bcg-section-css);
    }

    &--tools {
        background-color: var(--clr-bcg-section-tools);
    }

    &--scss {
        background-color: var(--clr-bcg-section-scss);
    }

    &--js {
        background-color: var(--clr-bcg-section-js);
    }

    &--react {
        background-color: var(--clr-bcg-section-react);
    }

    @extend %title-styles;
}

.title-h2 {
    display: inline-block;
    padding: 1.2rem 2.4rem;
    margin-bottom: -2.4rem;
    font-size: clamp(1.6rem, 0.75rem + 1.5vw, 2.4rem);
    transform: translateX(-3.5rem);

    &--html {
        background-color: var(--clr-bcg-section-html);
    }

    &--css {
        background-color: var(--clr-bcg-section-css);
    }

    &--tools {
        background-color: var(--clr-bcg-section-tools);
    }

    &--scss {
        background-color: var(--clr-bcg-section-scss);
    }

    &--js {
        background-color: var(--clr-bcg-section-js);
    }

    &--react {
        background-color: var(--clr-bcg-section-react);
    }

    @extend %title-styles;
}

.title-h3 {
    align-self: flex-start;
    padding: 1rem 2rem;
    margin-bottom: 1.2rem;
    font-size: clamp(1.2rem, 0.75rem + 1.5vw, 2rem);
    word-wrap: wrap;
    transform: translateX(-2rem);

    &--html {
        background-color: var(--clr-bcg-section-html);
    }

    &--css {
        background-color: var(--clr-bcg-section-css);
    }

    &--tools {
        background-color: var(--clr-bcg-section-tools);
    }

    &--scss {
        background-color: var(--clr-bcg-section-scss);
    }

    &--js {
        background-color: var(--clr-bcg-section-js);
    }

    &--react {
        background-color: var(--clr-bcg-section-react);
    }

    @extend %title-styles;
}

.title-h4 {
    display: inline-block;
    margin-bottom: 1.2rem;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 1.8rem);
    font-weight: 500;
    line-height: 1.2;
}
